$myColor: red;
html {}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

h1 {
    font-size: 30px !important;
    color: #ffffff;
}

h3 {
    color: #ffffff;
}