#pergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clique {
    margin-left: 100px;
}

.img-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.button-proximo {
    margin-top: 30px;
}

.img-content img {
    width: 40%;
    border-radius: 20px;
}

.img-content h1 {
    color: #ffffff;
    text-align: center;
}

.active {
    background: #2ecc71;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 45%;
}