#pergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clique {
    margin-left: 100px;
}

.img-content {
    background: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}

.img-content img {
    width: 40%;
    border-radius: 20px;
}

.img-content h1 {
    color: #ffffff;
}

.active {
    background: #2ecc71;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 45%;
}